@use "./colors";

$BorderRadiusStandard: 3px;
$InputBorderStandard: 1px solid colors.$Primary;
$InputBorderFocus: 2px solid colors.$SecondaryDark;
$ErrorBorderStandard: 0px solid colors.$ErrorMessage;
$QuoteBorderStandard: 3px solid colors.$SecondaryDark;
$ItemBorderStandard: 1px solid colors.$PrimaryDark;
$CardBorderStandard: 1px solid colors.$SecondaryDark;
