$Primary: #798259;
$PrimaryDark: #495639;
$Secondary: #dca566;
$SecondaryDark: #ca8446;
$Background: #f2edcb;
$ErrorMessage: #b3331c;
$ErrorMessageBackground: lighten($ErrorMessage, 40%);
$PendingMessage: #dda15e;
$PendingMessageBackground: lighten($PendingMessage, 40%);
$SuccessMessage: #89b051;
$SuccessMessageBackground: lighten($SuccessMessage, 40%);
$ItemGradient: linear-gradient(135deg, $Primary, $PrimaryDark);
