$FormMessageShadow: 0 0 3px 0 rgba(16, 16, 16, 0.2);
$MobileNavbarShadow: 0 3px 6px 1px rgba(16, 16, 16, 0.2);
$CardsShadow: 1px 2px 3px 0px rgba(24, 24, 24, 0.2);
$ButtonSubtle: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
$ItemShadow: 0px 1px 4px 1px rgba(8, 8, 8, 0.25);
