@use "./colors";

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
$FontFamily: "Kalam", "Arial", "sans";
$FontSizeBase: 16px;
$FontColor: colors.$PrimaryDark;
