@use "/src/assets/styles/_mixins/alignment";
@use "/src/assets/styles/_vars/colors";
@use "/src/assets/styles/_vars/sizes";
@use "/src/assets/styles/_vars/spacers";

.wl-menu {
  .wl-tabs-mainmenu {
    @include alignment.flex(column);

    position: absolute;
    top: sizes.$HeaderHeightMobile;
    left: 0;
    width: 100%;
    height: calc(100vh - sizes.$HeaderHeightMobile);
    background-color: colors.$PrimaryDark;
    justify-content: center;
    z-index: 10;

    .wl-button-wrapper {
      flex-grow: unset;

      &.active {
        .wl-tab {
          background-color: colors.$Primary;
        }
      }

      .wl-tab {
        background-color: transparent;
        padding: spacers.$SmallSpacer;
        font-size: 1.5rem;
      }
    }
  }
}
