@use "/src/assets/styles/_mixins/alignment";
@use "/src/assets/styles/_vars/colors";
@use "/src/assets/styles/_vars/shadows";
@use "/src/assets/styles/_vars/sizes";
@use "/src/assets/styles/_vars/spacers";

.wl-tabs {
  @include alignment.flex(row);

  .wl-button-wrapper {
    width: unset;
    margin: unset;
    flex-grow: 1;

    .wl-tab {
      background-color: colors.$PrimaryDark;
      color: colors.$Background;
      border-radius: 0;
      padding: spacers.$SmallerSpacer 0;
    }

    &.active {
      .wl-tab {
        background-color: colors.$Primary;
        color: colors.$Background;
      }
    }
  }
}
