@use "../../_vars/colors";
@use "../../_vars/spacers";

.wl-group-card {
  background-color: colors.$Secondary;
  margin: spacers.$SmallerSpacer 0;

  section p {
    margin: 0;
  }

  .group-card__details {
    display: flex;
    justify-content: space-around;
  }
}
