@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-centerer($main-axis: true, $secondary-axis: true) {
  @if $main-axis {
    justify-content: center;
  }

  @if $secondary-axis {
    align-items: center;
  }
}

@mixin absolute-centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if $horizontal and $vertical {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $horizontal {
    left: 50%;
    transform: translateX(-50%);
  } @else if $vertical {
    top: 50%;
    transform: translateY(-50%);
  }
}
