@use "../_vars/borders";
@use "../_vars/colors";
@use "../_vars/spacers";

.wl-quote {
  background-color: colors.$Secondary;
  border-left: borders.$QuoteBorderStandard;
  border-radius: borders.$BorderRadiusStandard;
  color: colors.$Background;
  margin: 0;
  padding: spacers.$SmallerSpacer spacers.$SmallSpacer;
  text-align: left;
}
