@use "../../_vars/borders";
@use "../../_vars/colors";
@use "../../_vars/shadows";
@use "../../_vars/spacers";

.wl-card {
  padding: spacers.$SmallerSpacer 0;
  background-color: colors.$Secondary;
  border-radius: borders.$BorderRadiusStandard;
  border: borders.$CardBorderStandard;
  box-shadow: shadows.$CardsShadow;

  &.wl-action-card {
    margin: spacers.$SmallerSpacer;
    width: 40%;

    .action-card__icon {
      width: 50%;
      margin: 0 auto;

      svg {
        width: 100%;
      }
    }

    .action-card__name {
      p {
        margin: 0;
      }
    }
  }
}
